extends layout

block content
  div.tabletitle
    div Employees
    div
      a(href='/add') Add Employee
  table
    thead
      th First
      th Last
      th Title
      th Address
      th Number
      th Year Hired
      th Actions
    tbody
      each employee in employees
        tr
          td= employee.firstname
          td= employee.lastname
          td= employee.jobtitle
          td
            div #{employee.streetline1}
            div #{employee.streetline2}
            div= `${employee.city}, ${employee.state} ${employee.zip}`
          td= employee.phonenumber
          td= employee.yearhired
          td
            div.actions
              a(href=`/update/${employee.id}`) Edit
              a(href=`/delete/${employee.id}`) Delete